* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: rgb(95, 53, 85);
}

body header {
  padding: 0.1em 0;
  background-color: rgb(66, 6, 52);
  color: #ededed;
  text-align: center;
}

main{
  width: 100vw;
  color: #444;
  background-color: #ffee;
  display: flex;
  justify-content: space-between;
}

header h1 {
  font-size: 3em;
}

h2 {
  font-size: 3em;
}

header p {
  font-size: 0.8em;
}

article header{
  width: 100%;
  padding: 10px;
  color: #444;
  background-color: #ffe;
}

hgroup {
  margin: 11px 0px;
}

article header h1 {
  font-size: 50px;
  margin: 5px 0;
}

article header p {
  font-size: 20px;
  margin: 10px 0;
}

nav {
  height: 3em;
  width: 100%;
  background-color: rgb(18, 18, 69);
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  width: 50%;
  min-width: 200px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
               
ul a {
  color: #eee; 
  text-decoration: none;
  margin: 0 20px;
}

article {
  width: 85vw;
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

article p {
  font-size: 1.5em;
}

section {
  width: 95%;
  margin: 10px 0;
}

section h3 {
  color: #444;
  font-size: 40px;
  font-weight: 500;
}

section p {
  font-size: 20px;
  font-weight: 300;
}

figure {
  padding: 10px 0;
  width: 100%;
}

figure img {
  width: 100%;
}

figcaption {
  font-size: 20px;
  height: 30px;
  width: 100%;
  position: relative;
  top: -4px;
  z-index: 10;
  color: #eed;
  background-color: rgba(10, 10, 10, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

details {
  width: 99%;
  padding: 5px;
  border: 1px solid #444;
  border-radius: 3px;
  background-color: #eee;
  font-size: 1.5em;
  font-weight: 100;
}

details summary {
  font-weight: 400;
}

aside {
  border-left: 0.4em solid #eeedde;
  font-size: 1.8em;
  width: 15vw;
  padding: 0.5em;
  background-color: #fffeef;
}

aside a {
  font-size: 20px;
}

footer {
  width: 100%;
  padding: 2em;
  font-size: 20px;
}

body > footer{
  color: #ededed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer i {
  font-weight: 300;
}

article > footer{
  text-align: left;
  margin-left: 2em;
  background-color: #ffee;
}

article footer address {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.8em;
}

article footer h3 {
  font-weight: 500;
}